{{template "partials/preamble"}}

<body>
    {{template "partials/logobar"}}

    <div class="ui hidden divider"></div>

    <div class="ui container" style="max-width: 800px;">

        <div class="ui huge header">Proceso cancelado</div>

        <div class="ui raised segment">

            <div class="ui warning message">
                <div class="header">
                    El proceso de registro ha sido cancelado y no hemos almacenado tus datos.
                    Si tienes algúna duda o problema, no dudes en contactar con nosotros
                    y estaremos encantados de ayudarte.
                </div>
            </div>

            <div class="ui basic fitted center aligned segment">
                <a href="/" class="ui large black submit circular button">Volver a la página principal</a>
            </div>

        </div>

    </div>

</body>
{{template "partials/postamble"}}