{{template "partials/preamble"}}

   {{template "partials/logobar"}}

   <div class="ui hidden divider"></div>

   <div class="ui container">

      <div class="ui huge header">Bienvenido a ISBE</div>
      <p>
         Necesitas un certificado digital.
      </p>

      <div class="ui stackable two column grid">
         <div class="column">
            <div class="ui raised segment">
               <h3 class="ui center aligned header">
                  Con un certificado de representación
               </h3>

               <div class="ui basic fitted center aligned segment">
                  <a href="/cert/login?code={{ .authCode }}"
                     class="certificate ui large black submit circular button">Usar un certificado</a>
               </div>

               <div class="ui divider"></div>

               <p>El certificado a usar es el mismo certificado digital con el que un representante legal de una
                  organización firma documentos en nombre de una organización (por ejemplo en formato PDF) o se
                  identifica en las sedes electrónicas
                  de la Adminitración Pública para actuar como representante de esa organización.
               </p>
               <p>Los certificados digitales de persona física no se pueden utilizar.</p>


            </div>
         </div>

      </div>

   </div>

{{template "partials/postamble"}}
